<!--
<form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="act_id" type="integer" name="act_id" value="{{act_id}}">
    <input type="image" src="img_submit.gif" alt="no img">
    <input type="submit" value="OK">
</form>
-->

<!DOCTYPE html>
<html>
	<body>
		<form action="/action_page.php"  method="get" >
			<label><b>CATEGORY</b></label>&nbsp;
			<select name="category">
				<option value="Animal">Animal</option>
				<option value="Education">Education</option>
				<option value="Water, sanitation">Water, Sanitation</option>
				<option value="Homeless">Homeless</option>
			</select></br><br>
			<input type="file" name="pic" accept="image/*">
			<h3>CAPTION</h3>
			<textarea placeholder="CAPTION" name="caption" rows="3" cols="50"></textarea></br></br>
			<button type="submit">Upload</button>
		</form>
	</body>
</html>